POSTGRES_DB=kittygram_db
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram_db
DB_USER=kittygram_user
DB_PASSWORD=kittygram_password
DB_HOST=db
DB_PORT=5432
SECRET_KEY=ajtm=uecond82r=^2vo5o@w5*lw)j+hd(f93h0jysg&r#tv48o
DEBUG=False
ALLOWED_HOSTS=kittygram-study.duckdns.org 158.160.184.58 127.0.0.1 localhost
